<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

    <title>Movie Recommendation System</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Movie Recommendation System</h1>
        <p>Discover new movies based on your preferences!</p>
        <form action="/recommendations" method="post">
            <input type="text" id="movie_title" name="movie_title" placeholder="Enter a Movie Title">
            <input type="submit" value="Get Recommendations">
        </form>
    </div>
</body>
</html>
